/trained_models
/cpython_impl/trained_models
/healthcheck-gate/logs/**
/healthcheck-gate/logs/*
/healthcheck-gate/logs

/healthcheck-collector/logs/**
/healthcheck-collector/logs/*
/healthcheck-collector/logs
